newsletter-box {

    grid-row: box-s/box-e;
    grid-column: box-s/box-e;
    align-content: center;

    height: 16rem;
    width: 16rem;
    border: .15rem solid $color-red;
    border-radius: .7rem;

    color: $color-red;

    display: grid;
    justify-items: center;
    grid-template-rows: [s] 8.1rem [m] 2.3rem [e];
    grid-template-columns: [s] 1fr [e];

    align-content: center;

    &__day {
        // align-self: end;
        font-size: 7rem;
        line-height: 8.1rem;
        margin-bottom: 1rem;

        grid-row: s/m;
        grid-column: s/e;
    margin-top: 4.7rem;
    margin-top: 4.7rem;
    margin-top: 4.7rem;
    margin-top: 4.7rem;
    margin-top: 4.7rem;
    margin-top: 4.7rem;
        grid-row: m/e;
        grid-column: s/e;
    }

    &__point {
        height: 4rem;
        width: 4rem;
        background-color: white;
        grid-row: s/e;
        grid-column: s/e;

        justify-self: end;
        align-self: center;
        transform: translateX(51%) rotate(45deg);
        border-top: .15rem solid $color-red;
        border-right: .15rem solid $color-red;
    }
}